@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--hue: 223;
	--bg: hsl(0,0%,100%);
	--fg: hsl(var(--hue),10%,10%);
	--trans-dur: 0.3s;
	--trans-ease-in-out: cubic-bezier(0.65,0,0.35,1);
	--trans-ease-out: cubic-bezier(0.33,1,0.68,1);
	font-size: calc(20px + (40 - 20) * (100vw - 280px) / (3840 - 280));
}

html,
body
{
    overflow: hidden;
    background-color: var(--bg);
    
}

body, button {
  color: var(--fg);
  font: 0.6966666667em system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#canvas {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    
    
    /* background: radial-gradient(circle at center center, #171717 0, #050505 58%); */
    /* background: radial-gradient(circle at 90% center, rgba(5,5,5,0) 30%, #141414 70%); */
}

/* #viewport {
    pointer-events: none;
    width: 200px;
    height: 340px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    border-radius: 12px;
    border: 4px solid #000;
    z-index: 1;
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: 0 0 10px 5px #4a48e0,
              0 0 20px 7px #ebecca,
              0 0 25px 20px #8a2be2,
              0 0 30px 25px #192c57;
} */

#viewport {
  /* pointer-events: none; */
  width: 50vh;
  height: 66vh;
  position: absolute;
  margin: 16px;
  right: 0;
  top: 120px;
  
  border: 4px solid #2d4874;
  border-radius: 12px;
  padding: 0;
  outline: 4px solid #00000090;
  box-shadow:
            0 0 5px 4px #892be26e,
            0 0 10px 3px #192c5748;
            
}

#gui { position: absolute; top: 200px; right: 2px }

.moveGUI{ 
  position: absolute;
  top: 13.1em;
  right: -1em;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    background: black;
}


  .loading-bar {
    width: 38px;
    height: 38px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    Z-index: 3;
    background: #d3d3d3;
    
    
    border-radius: 3px;
    box-sizing: border-box;
    animation: rotationBack 1.2s ease-in-out infinite reverse;
    animation-delay: 0.2s;
  }
  
  .loading-bar::before {
    content: '';
    box-sizing: border-box;
    left: 0;
    top: 0;
    transform: rotate(45deg);
    border-radius: 6px;
    position: absolute;
    width: 38px;
    height: 38px;
    background: #b6b6b6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  .loading-bar::after {
    content: '';
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    background: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    box-shadow: inset rgba(183, 183, 183, 0.5) 0px 0px 30px 0px, inset rgba(4, 4, 4, 0.5) 0px 0px 20px 0px, inset rgb(117, 117, 117) 0px 0px 20px -24px;
  }
  
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }






#bone-rench {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 80px;
    
    border-radius: 12px;
    rotate: 180deg;
    position: absolute;
    margin-top: -32px;
    
    
    animation: revolve 1.2s infinite;
    transform-origin: center;
}

@keyframes revolve {
    0% {
      opacity: 0;
      scale: .4;
    }
    35% {
        transform: rotate(0deg) translateY(100%);
        opacity: 1;
        scale: .7;
      }

    
    75% {
      transform: rotate(115deg) translateX(-20%) translateY(100%);
      opacity: 1;
      scale: 0.6;
    }
    100% {
        transform: rotate(120deg);
      opacity: 0;
      scale: 0.4;
    }
  }
  


#bone-leg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 0;
    margin-top: -8%;
    z-index: 3;
    
}



.leg-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
    height: 67%;
    margin-left: 16px;
    z-index: 2;
    position: relative;
    transform-origin: top left;
    animation: pendulum 1.2s ease-in-out alternate infinite;
    -webkit-animation: pendulum 1.2s ease-in-out alternate infinite;
    animation-delay: 0.2s;
  }
  
  @-webkit-keyframes pendulum {
    0% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
      
    }
    50% {
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
      
    }
    100% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
      
    }
  }
  @keyframes pendulum {
    0% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
    50% {
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
    100% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
  }
  
  
  
  .wire {
    width: 4px;
    
    background: rgb(63, 63, 63);
    
    
    position: relative;
    
    animation: shrinkHeight 1.2s linear infinite;
  }

  .wire-hang {
    width: 4px;
    height: 20px;
    z-index: -1;
    background: rgb(63, 63, 63);
    position: relative;
    
    
  }

  @keyframes shrinkHeight {
    0% {
      height: 60px;
    }
    75% {
      height: 0px;
    }
    100% {
        height: 60px;
      }
  }


  .hidden {
    display: none;
  }
  
  #popup {
    position: absolute;
    top: 20%;
    left: 8%;
    transform: translate(-20%, -20%);
    background-color: #2e2e2e60;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 460px;
    height: 900px;
    max-height: 764px;
    font-family: 'Poppins', sans-serif;
    z-index: 3;
    animation: slideIn 0.6s ease;
  }
  
  @keyframes slideIn {
    0% {
      transform: translate(-20%, -80%);
      opacity: 0;
    }
    100% {
      transform: translate(-20%, -20%);
      opacity: 1;
    }
  }
  
  
  
  .settings-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    
    background-color: #2e2e2e60;
    padding-right: 15px;
    border-bottom: 1px solid #444;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    
    background-color: #2e2e2e60;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #444;
  }
  

  .header h1 {
    color: #fff;
    font-size: 1.5em;
  }
  
  .close-button {
    cursor: pointer;
    color: #FFF;
    font-size: 1.5em;
    border: none;
    background: none;
  }
  
  .settings-body {
    display: flex;
    /* Make it a flex container */
    flex-grow: 1;
    /* Allow it to fill remaining space */
  }
  
  .sidebar {
    background-color: #2e2e2e60;
    width: 150px;
    padding: 5px 15px;
    height: 760px;
    max-height: 760px;
    overflow-y: auto;
  }
  
  /* Hide the default scrollbar */
  .sidebar::-webkit-scrollbar {
    width: 10px; 
  }
  
  /* Track */
  .sidebar::-webkit-scrollbar-track {
    background: #222222;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
  }
  
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 10px;
  }
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b; 
    border: 1px solid rgba(0, 0, 0, 0.37);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #ddd;
    display: block;
    padding: 6px 7px;
    border-radius: 10px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .sidebar ul li a.active {
    background-color: #444;
    color: #fff;
  }


  
  .content {
    height: 100%;
    padding: 12px 15px;
    /* Adjust padding */
    overflow-y: auto;
    max-height: 600px;
    flex-grow: 1;
    
    color: rgb(228, 228, 228);
  }
  
  /* Hide the default scrollbar */
  .content::-webkit-scrollbar {
    width: 10px; 
  }
  
  /* Track */
  .content::-webkit-scrollbar-track {
    
    box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
  }
  
  /* Handle */
  .content::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 10px;
  }
  /* Handle */
  .content::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b; 
    border: 1px solid rgba(0, 0, 0, 0.37);
  }
  
  .content-section {
    display: block;
    
  }
  
  .content-section.hidden {
    display: none;
    
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 34%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.100); /* Semi-transparent black */
    z-index: 2; /* Ensure it's above other content */
  }
  
  #open-popup {
    background-color: #2a2f3b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2em 0 0 2em;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #3b3b3b;
    position: absolute;
  }

#gap {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#points {

    width: fit-content;
    position: relative;
    
    
    display: flex;
    justify-content: flex-start;
    margin: 10px 15px 5px 10px;
    

    background: rgba(214, 214, 214, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);


}

/* .label {
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 14px 16px;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;
    
  } */

  .label {
    display: flex;
    color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 14px 16px;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;
    
  }
  
  .check-box {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    
  }
  
  .check-box:before {
    content: "";
    background-color: #30cfd0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }


  
  .check-box:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }

  
  .check-box:hover > .label-text {
    color: hsl(0, 0%, 100%);
  }

  .label:hover,
  .label:focus-within,
  .label:active {
    background: hsla(0, 0%, 75%, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    border: 2px solid #30d0d06f;  
  }
  .label:hover > .label-text {
    color: hsl(0, 0%, 99%);
  }

  .radio-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  
  
  .radio-input:checked+.radio-design::before {
    transform: scale(0);
  }
  
  .label-text {
    color: hsla(0, 0%, 81%, 0.38);
    margin-left: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    transition: .3s;
  }
  
  .check-box:checked~.label-text{
    color: hsl(0, 0%, 92%);
  }

  .radio-input:checked~.label-text {
    color: hsl(0, 0%, 81%);
  }

  @media only screen and (max-width: 600px) {
    #points {
        width: 20vh;
        margin: 5px 15px 5px 16px;
        
    }
    
    .radio-design{
       
        height: 16px;
        width: 16px;
        transform: scale(1.1);
    }
    .radio-design::before {
       
        height: 16px;
        width: 16px;
    }
    
  }

  /* //////////////////////////////// DROP DOWN */
  .drop-down {
    
    width: 6em;
    right: 2%;
    top:10%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 0.5em;
    
  }
  .drop {
    --drop-trans-dur: 0.5s;
    --drop-flare-dist: 0;
    border-radius: 0.4em;
    margin: auto;
    padding: 0.25em 0.25em 0.1em 0.25em;
    position: relative;
    min-width: 6em;
    
    
 }
  .drop, .drop:after {
    background-color: #e8e3e3;
    transition: background-color var(--trans-dur);
 }
  .drop:before, .drop:after {
    content: "";
    position: absolute;
 }
  .drop:before {
    background-image: radial-gradient(100% 100% at 100% 50%, #30cfd0, rgba(72, 181, 224, 0.209) 50%);
    display: none;
    right: 0;
    bottom: 100%;
    width: 9em;
    height: 9em;
    z-index: 1;
 }
  .drop:after {
    border-radius: 0.4375em;
    display: block;
    top: 0.125em;
    left: 0.125em;
    width: calc(100% - 0.25em);
    height: calc(100% - 0.25em);
 }
  .drop__btn {
    background-color: #fff;
    border-radius: 0.375em;
    box-shadow: 0 0 0 0.25em rgba(242, 13, 13, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1;
    height: 3.5em;
    outline: transparent;
    margin-bottom: 0.25em;
    padding: 0.25em 0.45em 0.25em 0.75em;
    position: relative;
    width: 100%;
    transition: background-color var(--trans-dur), box-shadow calc(var(--trans-dur) / 2) var(--trans-ease-in-out), color var(--drop-trans-dur);
    -webkit-appearance: none;
    appearance: none;
    
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
 }
  .drop__btn:hover, .drop__btn:focus-visible, .drop__btn[aria-expanded="true"] {
    background-color: #f4f1f1;
 }
  .drop__btn:focus-visible {
    box-shadow: 0 0 0 0.25em rgb(13, 97, 242);
 }
  .drop__btn:after {
    border-top: 0.375em solid currentColor;
    border-right: 0.375em solid transparent;
    border-left: 0.375em solid transparent;
    content: "";
    display: block;
    margin-inline-start: auto;
    width: 0;
    height: 0;
    transform-origin: 50% 37.5%;
    transition: transform var(--drop-trans-dur) var(--trans-ease-out);
 }
  .drop__btn[aria-expanded="true"]:after {
    transform: rotate(0.5turn);
 }
  .drop--collapsing, .drop--expanding, .drop__items {
    overflow: hidden;
 }
  .drop__items {
    height: 0;
 }
  .drop__items-inner {
    visibility: hidden;
 }
  .drop--collapsing .drop__btn[aria-expanded="true"] {
    background-color: #fff;
 }
  .drop--collapsing .drop__btn[aria-expanded="true"]:after {
    transform: rotate(0);
 }
  .drop--expanding:before {
    display: block;
 }
  .drop__items .drop__btn:hover, .drop__items .drop__btn:focus-visible {
    background-color: #f9f8f8;
    color: rgb(13, 128, 242);
 }
  .drop__items .drop__btn:focus-visible {
    box-shadow: 0 0 0 0.25em rgba(242, 13, 13, 0);
 }
  .drop__items .drop__btn:after {
    border: 0;
    content: "\2713";
    display: none;
    width: auto;
    height: auto;
 }
  .drop__items .drop__btn--selected:after {
    display: block;
 }
  .drop__btn[aria-expanded="true"] ~ .drop__items {
    height: auto;
 }
  .drop__btn[aria-expanded="true"] ~ .drop__items .drop__items-inner {
    visibility: visible;
 }
  .drop:has([aria-expanded="true"]) {
    height: auto;
 }
  .drop:has([aria-expanded="true"]):before {
    transform: translateY(calc(9em + var(--drop-flare-dist)));
    transition: transform var(--drop-trans-dur) linear;
 }
 /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #1c1717;
      --fg: #e8e3e3;
   }
    .drop, .drop:after {
      background-color: #000;
      z-index: 1;
   }
    .drop__btn {
      background-color: #2a2f3b;
   }
    .drop__btn:hover, .drop__btn:focus-visible, .drop__btn[aria-expanded="true"] {
      background-color: #1c1f27;
   }
    .drop__items .drop__btn:hover, .drop__items .drop__btn:focus-visible {
      background-color: #404a5d;
      color: rgb(0, 0, 0);
   }
    .drop--collapsing .drop__btn[aria-expanded="true"] {
      background-color: #2a2f3b;
   }
 }


 .reset {

  border-radius: 0.4em;
  
  padding: 0.25em 0.25em 0.1em 0.25em;
  position: relative;
  display: flex;
  align-items: flex-start;
  top: 0;
  min-width: auto;
  height: 3.5em;
}

.reset, .reset:after {
  background-color: #000;
  z-index: 1;
  height: 3em;
}
.reset:before {
  
  box-shadow: 0 0 0 0.15em rgba(242, 13, 13, 0.6);
}

/* .reset-icon {
  
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  transition: fill 0.3s;
} */
svg:hover{
  fill: #f20d0d;
}



 .reset__btn {
  background-color: #2a2f3b;
    border-radius: 0.375em;
    box-shadow: 0 0 0 0.25em rgba(242, 13, 13, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1;
    height: 3.5em;
    outline: transparent;
    margin-bottom: 0.25em;
    padding: 0.75em 0.75em 0.75em 0.25em;
    position: relative;
    width: auto;
    transition: none;
 }
 .reset__btn:hover {
  background-color: #000000;
  color:#d73c3c;
  /* border: 2px solid #b54848; */
  
  font-weight: 600;
  
}

.zoombtns {
  display: flex;
  visibility: none;
  flex-direction: row;
  background: #17171795;
  padding: 0.3em;
  gap: 0.3em;
  border-radius: 12px;
}
#new-item-text {
  height: 3em;
  width: 300px;
  padding-left: 10px;
  justify-content: space-between;
  border: none;
  border-radius: 8px;
  background-color: #444444;
  color: rgb(228, 228, 228);
}

.add-landmark {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#slid {
  align-items: center;
  font-size: medium;
  border: none;
  height: 3.5em;
  justify-content: space-between;
  margin-bottom: 8px;
}




#slid2 {
  align-items: center;
  font-size: medium;
  
  justify-content: space-between;
}

#settings {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.debug-2 {

  border-radius: 0.4em;
  
  padding: 0.25em 0.45em 0.1em 0.45em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 96%;
  height: 3.8em;
  gap: 0.4em;
  z-index: 19;
  margin-bottom: 20em;
}

.debug-2, .debug-2:after {
  
  top: 88%;
  left: 2%;
  height: 3.2em;
  border-radius: 12px;
  z-index: 19;
}
.debug-2:before {
  
  box-shadow: 0 0 0 0.15em rgba(242, 13, 13, 0.6);
}

.zoom__btn {
  background: #2a2f3b;
    border-radius: 0.375em;
    box-shadow: 0 0 0 0.25em rgba(242, 13, 13, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    height: 3.5em;
    outline: transparent;
    margin-bottom: 0.25em;
    padding: 0.75em 0.75em 0.75em 0.75em;
    position: relative;
    width: 6.2em;
    transition: none;
    z-index: 20;
 }
 .zoom__btn:hover {
  background-color: #353d4f;
  color:#ededed;
  /* border: 2px solid #b54848; */
  
  
  
}



.debug-x {
  

  border-radius: 0.4em;
  
  padding: 0.25em 0.25em 0.1em 0.25em;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  min-width: 100%;
  height: 3.6em;
  gap: 0.3em;
  z-index: 19;
  margin-bottom: 20em;
}


.xr {
  background: #171717;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 0 0.25em 0.1em 0.25em;
  cursor: pointer;
  height: 3.6em;
  gap: 0.3em;
  transition: 0.3s;
}

.x__btn {

  background: #252525;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 0.5em;
  padding: 0 0.25em 0.1em 0.25em;
  cursor: pointer;
  height: 3.8em;
  width: 100%;
  transition: 0.3s;
 }




 .x__btn:hover {
  color:rgb(0, 149, 255);
  /* border: 2px solid #b54848; */
  box-shadow: 0 0 0 0.25em #30d0d031; 
  
}

.holo {
  background-color: #000;
  height: 3.6em;
}

.holo::before{
  background-color: #000000;
  color:rgb(0, 162, 255);
  /* border: 2px solid #b54848; */
  box-shadow: 0 0 0 0.25em #30d0d031; 
}



.holog{
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 0 0.75em 0.1em 0.75em;
  cursor: pointer;
  height: 3em;
  transition: 0.3s;

}
.holog:hover,
.holog:focus-within,
.holog:active {
  color:rgb(0, 149, 255);
  /* border: 2px solid #b54848; */
  box-shadow: 0 0 0 0.25em #30d0d031; 
  }
  .holog:hover > .holo {
    color: hsl(248, 100%, 50%);
  }




.x__btn:checked  {
  color:rgb(55, 102, 203);
  /* border: 2px solid #b54848; */
  box-shadow: 0 0 0 0.25em #30d0d031; 
}

.debug-x:after {
  color:rgb(0, 81, 255);
  /* border: 2px solid #b54848; */
  box-shadow: 0 0 0 0.25em #30d0d031; 
}

#views {
  /* width: 30px; */
  padding: 0.25em 0.15em 0.1em 0.75em;
  width: auto;
 
}


.dropdown {
  min-width: 7em;
  position: relative;
  top: 0;
  
 
}
.select {
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 0 0.75em 0.1em 0.75em;
  cursor: pointer;
  height: 2.8em;
  transition: 0.3s;
}
.select span{
  font-size: 0.9em;

}

.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}
.select:hover {
  background: #323741;
}
.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
.caret-rotate {
  transform: rotate(180deg);
}
.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 4em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu li:hover {
  background: #2a2d35;
}
.active {
  background: #23242a;
}
.menu-open {
  display: block;
  opacity: 1;
}

.labelSize {
  background-color: #ffffff;
  margin-top: 4px;
}

.PB-range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #b7b7b7;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.PB-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(196, 196, 196, 0.446);
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-moz-range-thumb {
  width: 15px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.PB-range-slider-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: .9rem;
  border-radius: 6px;
  border: 1px solid #c6cace9b;
  height: 0.6em;
  box-shadow: 0px 1px 2px 0px #1f1e247a;
}

.PB-range-slidervalue {
  font-weight: 600;
  color: #ffffff;
}

.navigation {
  position: relative;
  min-width: 340px;
  min-height: 40px;
  margin: 20px 0;
  border-radius: 12px;
  background: #2f363e;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 18;
}

.navigation li {
  position: relative;
  list-style: none;
  width: 80px;
  margin: 0 5px;
}

.navigation li::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #222;
  transition: 0.5s;
}

.navigation li.active::before {
  background: #4454ff;
  box-shadow: 0 0 5px #4454ff, 0 0 10px #4454ff, 0 0 20px #4454ff,
    0 0 30px #4454ff, 0 0 40px #4454ff, 0 0 50px #4454ff;
}

.navigation li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.navigation li a .icon {
  position: absolute;
  font-size: 1.75em;
  width: 120px;
  height: 50px;
  display: flex;
  color: #242424;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0.2s;
  z-index: -1;
}

.navigation li.active a .icon {
  transform: translateY(8px);
  background: #4454ff;
  color: #c6c6c6;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 0s;
  z-index: -1;
}

.navigation li.active a .icon i {
  z-index: 22;
}

.navigation li a .icon::before {
  content: "";
  position: absolute;
  inset: 10px;
  background: #2f363e;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset 2px 2px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s;
}

.navigation li.active a .icon::before {
  transform: scale(1);
}

.navigation li a .text {
  position: absolute;
  font-size: 0.95em;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  padding: 2px 10px;
  background: #fff;
  border-radius: 15px;
  color: #2f363e;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition-delay: 0s;
}

.navigation li.active a .text {
  opacity: 1;
  transform: translateY(10px);
  transition-delay: 0.2s;
}

@media screen and (max-width: 668px) {
  .navigation {
    min-width: 100%;
  }
  .navigation li {
    width: 70px;
  }
  .navigation li a .icon {
    height: 60px;
    width: 60px;
    font-size: 19px;
  }
}

.add-button {
  margin-top: 10px;
  cursor: pointer;
}

.custom-button {
  background-color: #37853b; 
  border: none;             
  color: white;            
  padding: 8px 0 12px 0;       
  text-align: center;       
  text-decoration: none;    
  display: inline-block;    
  font-size: 16px;          
          
  cursor: pointer;          
  border-radius: 8px;  
  width: 120px;     
}

.custom-button:hover {
  background-color: #4CAF50; /* Darker green on hover */
}

.nav {
	position: relative;
	width: 460px;
  height: 80px;
	display: flex;
	justify-content: space-around;

	background-color: #1d1a1d;
	border: 1px solid #252325;
	border-radius: 16px;
	overflow: hidden;
}

.nav ul {
  display: flex;
  flex-direction: row;
}

.nav i {
  height: 36px;

}

.nav-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* gap: 5px; */
	width: 50px;
	margin: 0 5px;
	padding: 10px;
	color: rgba(255, 255, 255, 0.2);
	text-decoration: none;
	transition: .3s;
}

.nav-item.is-active {
	color: #6ba7a8;
}

.nav-item.is-active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 120%;
	transform: translate(-10%, -10%);
	background: radial-gradient(#6ba7a8, transparent);
	filter: blur(10px);
	opacity: .2;
}

.nav-item i {
	font-size: 34px;

}

.nav-item span {
	font-size: 16px;
	font-weight: 600;
}

.nav-indicator-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.175);
	display: flex;
	justify-content: center;
}

.nav-indicator {
	width: 30px;
	height: 3px;
	background-color: #6ba7a8;
	border-radius: 10px;
}

.select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
  height: 2.5em;
  width: 300px;
  justify-content: space-between;
  align-content: center;
  color: rgb(228, 228, 228);
  background-color: #444444;
  
}
.select-dropdown {
	position: relative;
	background-color: #444444;
  color: white;
	border-radius: 8px;
  
}
.select-dropdown select {
	
	font-weight: normal;
	max-width: 100%;
	padding: 8px 24px 8px 10px;
	border: none;
	background-color: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
	appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}
.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
  padding: 0;
	margin-top: -2px;
	border-top: 5px solid #f8f8f8;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.update-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reset-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reset-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(255, 160, 160, 0.253);
  
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 16px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.reset-button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(225, 59, 59);
  box-shadow: 0px 0px 20px rgba(255, 69, 69, 0.164);
  align-items: center;
}

.reset-button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.reset-button::before {
  position: absolute;
  top: -20px;
  content: "Reset";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.reset-button:hover::before {
  font-size: 16px;
  opacity: 1;
  transform: translateY(25px);
  
  transition-duration: .3s;
}


.update-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}


.update-button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(93, 80, 140);
  align-items: center;
}

.update-button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.update-button::before {
  position: absolute;
  bottom: -20px;
  content: "Update";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.update-button:hover::before {
  font-size: 16px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

#remove-landmark {
  background-color: rgb(181, 17, 17);
}

#remove-landmark:hover {
  background-color: rgb(255, 17, 17);
}